<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <h2>Welcome, {{ club['email'] }}</h2>
    <a href="{{ url_for('logout') }}">Logout</a>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div>
        <ul>
            {% for category, message in messages %}
                {% if category == "success" %}
                    <li style="background-color: #d4edda; color: #155724; padding: 10px; border: 1px solid #c3e6cb; margin-bottom: 15px;">
                        {{ message }}
                    </li>
                {% else %}
                    <li style="background-color: #f8d7da; color: #842029; padding: 10px; border: 1px solid #f5c6cb; margin-bottom: 15px;">
                        {{ message }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endwith %}

    <!-- Points disponibles -->
    <p>Points available: {{ club['points'] }}</p>

    <!-- Liste des compétitions -->
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions %}
        <li>
            <strong>{{ comp['name'] }}</strong><br>
            Date: {{ comp['date'] }}<br>
            Number of Places: {{ comp['numberOfPlaces'] }}<br>
            {% if comp['numberOfPlaces']|int > 0 %}
                <a href="{{ url_for('book', competition=comp['name'], club=club['name']) }}">Book Places</a>
            {% endif %}
        </li>
        <hr>
        {% endfor %}
    </ul>
    <a href="{{ url_for('points_display') }}">View Club Points</a>
</body>
</html>